<div style="font-family:arial;font-size:10px;text-align:center;">
   PROASISTENCIA S.L.   CIF: B81323180; C/ CAMINO DE LAS REJAS Nº 1; OFC. 1L; 28821  MADRID.
</div>
<div style="font-family:arial;font-size:10px;text-align:center;">
    http://www.proasistencia.es    -     mail: proasistencia@proasistencia.es     -     tf. 913 613 848
</div>
<div style="font-family:arial;font-size:8px;text-align:center;">
    Registro Mercantil de Madrid, Tomo 10.223, Sección 8ª, Folio 163, Hoja Nº M . 162970, Inscripción 1ª 
</div>
