<table width="100%">
    <tr>
        <td width="40%">
            <img src='{#image LogoProasistencia}' style="height:100px;"/>
        </td>
        <td width="60%" style="font-family: Arial, Georgia, Serif;text-align:right;">
            <h1>ATENCIÓN TELEFÓNICA</h1>
            <h1>24 H.  913 613 848</h1>
        </td>
    </tr>
</table>
