<div style="font-family:arial;font-size:10px;text-align:center;">
    FONDOGAR, S.L.  R.M. MADRID. Tomo 8618, Secc. 8ª, Folio 166, Hoja M-138714 C.I.F.: B-81002057 – Avda. Ramón y Cajal 37 – 28470 - Cercedilla (Madrid)
</div>