<div style="font-family:arial;font-size:10px;text-align:center;">
   GRUPO INMOBILIARIO METROPOLITANO S.A. CIF: A79088159 -AVDA DE AMERICA, 16 - 28028 MADRID. TEL. 913 686 943
</div>
<div style="font-family:arial;font-size:10px;text-align:center;">
   Inscrita en el Registro Mercantil de Madrid , Tomo 9424 general, 8178 de la sección 3ª, del libro de sociedades, folio 20, hoja nº 87577 , inscripción 1ª
</div>